.app-btn {
  padding: 8px 20px !important;
  margin-right: 9px;
  color: #FFF;
  font-weight: bold;
  font-family: 'Roboto', Тahoma, sans-serif;
  background: #337AB7;
  cursor: pointer;
  border: 2px solid #BFE2FF;

  a {
    color: #fff;
    width: 100%;
  }
}