.filter {
  .parent {
    margin-top: 7px;
  }
  &-option {
    position: relative;
    font-size: 17px;
    
    a {
      color: #1c1c1c;
      text-decoration: none;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: -16px;
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: rgb(58, 58, 145);
    }
    &:not(.parent) {
      position: relative;
      left: 18px;
    }
  }
}